*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
}

.calculator{
    background-color: gray;
    width: 360px;
    height: 540px;
    padding: 1em;

    display: flex;
    flex-flow: column;
}

.output{
    font-size: 2em;
    height: 3em;
    background-color: rgb(74, 74, 74);
    margin-bottom: 2em;
    margin-top: 0.5em;

    display: flex;
    align-items: center;
    padding-left: 0.5em;
}
.row{
    padding-block: 0.5em;
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: space-evenly;
}
button{
    flex: 1 1 20%;
    height: 75px;
    font-size: 2rem;
}

button#plus,
button#minus,
button#times,
button#divide{
    background-color: orange;
    color: black;
}