*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
}

.calculator{
    background-color: gray;
    width: 400px;
    height: 600px;
    padding: 2em;

    display: flex;
    flex-flow: column;

    border-radius: 1em;
}

.output{
    font-size: 2em;
    height: 3em;
    background-color: rgb(0, 0, 0);
    color: green;
    margin-bottom: 2em;
    margin-top: 0.5em;

    border-radius: 0.5em;

    display: flex;
    align-items: center;
    padding-left: 0.5em;
}
.row{
    padding-block: 0.5em;
    width: 100%;
    gap: 1em;
    display: flex;
    justify-content: space-evenly;
}
button{
    flex: 1 1 70px;
    height: 70px;
    font-size: 2rem;

    border: 0.1em black solid;
    border-radius: 0.5em;

    background-color: beige;
}

button#plus,
button#minus,
button#times,
button#divide{
    background-color: orange;
    color: black;
}

button.double-space{
    flex: 2 1 156px;
    height: 65px;
    font-size: 2rem;
    border-radius: 0.5em;
}
button#clear{
    background-color: rgb(255, 115, 115);
}